<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/|">
    <meta charset="UTF-8">
    <title>用户查询</title>
</head>
<body>
    <h3>用户查询</h3>
    <a href="usertoadd">去新加</a>
    <div th:text="${msg}" th:if="${msg} != null"></div>
    <form action="userquery" method="post">
        <table border="1" width="100%">
            <tr>
                <th>序号</th><th>用户编号</th><th>用户名</th><th>密码</th><th>操作</th>
            </tr>
            <tr th:each="u,st:${p.list}">
                <td th:text="${st.count}"></td>
                <td th:text="${u.uid}"></td>
                <td th:text="${u.uname}"></td>
                <td th:text="${u.password}"></td>
                <td>
                    <a th:href="|userget/${u.uid}|">详情</a>
                    <a th:href="|userdel/${u.uid}|" onclick="return confirm('你确定删除吗？')">删除</a>
                </td>
            </tr>
        </table>
        <div th:replace="pagination::fenpage" class="fenpage"></div>
    </form>
</body>
</html>