<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/|">
    <meta charset="UTF-8">
    <title>用户详情</title>
</head>
<body>
    <h3>用户详情</h3>
    <a href="usertoadd">去新加</a>
    <a href="userquery">去查询</a>
    <div th:text="${#request.getParameter('msg')}" th:if="${#request.getParameter('msg')} != null"></div>
    <div th:text="${msg}" th:if="${msg} != null">
    </div>
    <form action="usermod" method="post">
        <table>
            <tr>
                <td>用户编号:</td>
                <td><input name="uid" th:value="${u.uid}" readonly></td>
            </tr>
            <tr>
                <td>用户名:</td>
                <td><input name="uname" th:value="${u.uname}"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password" th:value="${u.password}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="修改">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>