<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.ArticleDao">
    <select id="find" resultType="User">
        select * from Users
    </select>
    <select id="get" resultType="User" parameterType="Integer">
        select * from Users where uid=#{uid}
    </select>
    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="uid">
        insert into Users values(default,#{uname},#{password})
    </insert>
    <update id="mod" parameterType="User">
        update users set uname=#{uname},password=#{password} where uid=#{uid}
    </update>
    <delete id="del" parameterType="Integer">
        delete  from Users where uid=#{uid}
    </delete>
</mapper>